.Child-Page-Container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    .Child-Page-Container__Back {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}
