$fullWidth: 100%;
$fullHeight: 100vh;
$violet: #a054c6;


$paddingMin: 5px;
$marginMin: 5px;
$borderRadiusMin: 5px;
$borderRadiusCircle: 50%;

.Logged-User-Widget {
    display: flex;
    align-items: center;
    padding-right: 100px;
    position: relative;

    .Logged-User-Widget__Avatar-Container {
        margin: $marginMin;
        height: 30px;
        width: 30px;
        background: peachpuff;
        border: 3px solid $violet;
        border-radius: $borderRadiusCircle;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;

        .Logged-User-Widget__Avatar {
            width: 30px;
        }
    }
    .Logged-User-Widget__Title {
        text-decoration: none;
        color: #000;
    }
    .Logged-User-Widget__Log-Out {
        background: transparent;
        border: 0;
        margin: 5px;
    }
    .Logged-User-Widget__Dropdown-Button {
        background: transparent;
        border: 0;
    }
    .Logged-User-Widget__Dropdown {
        position: absolute;
        bottom: -50px;
        width: 120px;
        background: #ccc;
    }
}
