$violet: #a054c6;


.Main-Screen {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    .Main-Screen__Title {
        font-size: 5em;
        color: rgb(248, 204, 241);
        opacity: 0.9;
        text-shadow: 1px 1px 2px $violet;
        margin-left: 10%;
        
    }
}