$fullWidth: 100%;
$fullHeight: 100vh;

$paddingMin: 5px;
$marginMin: 5px;
$borderRadiusMin: 5px;
$borderRadiusCircle: 50%;

$color: lightblue;

.Header-Container {
    height: 0.1 * $fullHeight;
    width: $fullWidth;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $color;

    .Logo {
        display: flex;
        align-items: center;
        flex-grow: 5;
        margin-left: 100px;
        text-decoration: none;
        color: rgb(150, 82, 150);
        .Logo__Image {
            height: 30px;
            width: 30px;
            
    
        }
    
        .Logo__Title {
            font-size: 1.4em;
            text-align: center;
        }
    }
    .Sign-In-Up-Section {
        flex-grow: 2;

        .Header-Container__Sign-In-Button {
            margin-right: 100px;
            
            button {
                font-size: 1.3em;
                text-align: center;
                margin: $marginMin;
                padding: $paddingMin;
                border-radius: $borderRadiusMin;
                background: transparent;
                border: 0;
            }
        }
        .Header-Container__Sign-Up-Button {
            
            button {
                font-size: 1.3em;
                text-align: center;
                margin: $marginMin;
                padding: $paddingMin;
                border-radius: $borderRadiusMin;
                background: transparent;
                border: 0;
            }
        }
        .Header-Container__Avatar {
            margin: $marginMin;
            height: 30px;
            width: 30px;
            background: peachpuff;
            border-radius: $borderRadiusCircle;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
}
