$fullScreenHeight: 100vh;
$fullScreenWidth: 100%;

.Child-Page-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Page-Content {
        height: auto;
        width: $fullScreenWidth;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
